@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-scale: 1;
  font-size: calc(1rem * var(--font-scale));

  background: #141414;
}
